html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background: #ff9966;
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);
    background: linear-gradient(to right, #ff5e62, #ff9966);
    font-family: 'IBM Plex Serif', serif;
}

.container {
    background-color: white;
    min-height: calc(100vh - 20px);
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 30px 0 30px;
}

nav {
    background-color: #3F51B5;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    padding: 20px;
}

nav ul li:hover {
    background-color: #1a2770;
}

nav ul a {
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
}

/** Simple Menu **/
.simple ul {
    display: flex;
    flex-direction: column;
}

.simple ul li {
    text-align: center;
    margin-bottom: 20px;
}

.simple ul li:last-of-type {}

@media (min-width:768px) {
    .simple ul {
        justify-content: space-between;
        flex-direction: row;
    }

    .simple ul li {
        margin-bottom: 0;
    }
}

/* Nav with icons */
.icons ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.icons ul li {
    flex: 0 0 100%;
    display: flex;
}

@media (min-width:480px) {
    .icons ul li {
        flex: 0 0 50%;
    }
}

@media (min-width:768px) {
    .icons ul li {
        flex: 0 0 25%;
    }
}

.icons ul li a {
    display: flex;
    justify-content: center;
    flex: 0 0 100%;
}

.icons .icon {
    font-size: 2rem;
    flex: 0 0 3rem;
}

.icons .text span {
    font-size: .8rem;
    display: block;
    margin-top: .5rem;
}

/* dropdown */
.dropdown ul {
    display: flex;
    flex-direction: column;
}

@media (min-width:768px) {
    .dropdown ul {
        flex-direction: row;
    }
}

.dropdown ul li {
    display: flex;
    flex-direction: column;
}

.dropdown ul li ul {

    display: none;
}

.dropdown ul li:hover {
    display: block;
    margin-top: 1rem;
}

.dropdown ul li ul li:hover {
    background-color: #ff5e62;
}

@media (min-width:768px) {
    .dropdown ul li {
        position: relative;
        flex: 1 1 100%;
    }

    .dropdown ul li ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
    }

    .dropdown ul li:hover ul {
        display: flex;
        flex-wrap: wrap;
        background-color: #ff5e62;
        margin-top: 0%;
    }
}

/* Social Media Navigation */
.social-menu span {
    display: none;
}

.social-menu ul {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 auto;
}

.social-menu ul li {
    padding: 5px 10px;
}

.social-menu a:before {
    font-family: "Font Awesome 5 Brands";
    font-size: 1.2rem;
}

.social-menu ul li a[href*='facebook.com']::before {
    content: "\f39e";
}

.social-menu ul li a[href*='twitter.com']::before {
    content: "\f099";
}

.social-menu ul li a[href*='youtube.com']::before {
    content: "\f431";
}

.social-menu ul li a[href*='instagram.com']::before {
    content: "\f16d";
}

.social-menu ul li a[href*='pinterest.com']::before {
    content: "\f231 ";
}