html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background: #ff9966;
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);
    background: linear-gradient(to right, #ff5e62, #ff9966);
    font-family: 'IBM Plex Serif', serif;
}

.container {
    background-color: white;
    min-height: calc(100vh - 20px);
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 30px 0 30px;
}

nav {
    background-color: #3F51B5;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    padding: 20px;
}

nav ul li:hover {
    background-color: #1a2770;
}

nav ul a {
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
}

/** Simple Menu **/
.simple ul {
    display: flex;
    flex-direction: column;
}

.simple ul li {
    text-align: center;
    margin-bottom: 20px;
}

.simple ul li:last-of-type {}

@media (min-width:768px) {
    .simple ul {
        justify-content: space-between;
        flex-direction: row;
    }

    .simple ul li {
        margin-bottom: 0;
    }
}